# Prerequisites
*.d

# Compiled Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib
*.lai
*.la

# Fortran module files
*.mod
*.smod

# Compiled Executables
*.exe
*.out
*.app
memdblite

# IDE and Editor directories/files
.vscode/
.DS_Store
*.swp
*.swo
